@import "node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic-ext,latin-ext&display=swap");
@font-face {
    font-family: "font6cbd9deae466f760aa37d02e19309b71";
        
        src:    url("https://nomail.com.ua/files/eot/6cbd9deae466f760aa37d02e19309b71.eot?#iefix") format("embedded-opentype"),
                url("https://nomail.com.ua/files/woff/6cbd9deae466f760aa37d02e19309b71.woff") format("woff"),
                url("https://nomail.com.ua/files/woff2/6cbd9deae466f760aa37d02e19309b71.woff2") format("woff2");
    }
    
@font-face { font-family: "OfficinaSerifC-Bold";  src: local("OfficinaSerifC-Bold"), url("https://nomail.com.ua/files/woff/6cbd9deae466f760aa37d02e19309b71.woff") format("woff"); }

@import "fontawesome.scss";
@import "solid.scss";
@import "brands.scss";

$green: #006022;
$white: #FFF;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $white;
    padding: 0;
    margin: 0;
    width: fit-content;
    border-bottom: solid 1px transparent;
    transition: all 0.4s;

    &:hover {
        color: inherit;
        border-color: rgba(255,255,255,0.85);
    }
}

img {
    max-width: 100%;
}

.sidebar {
    background: url("../images/dest/sidebar_bg.jpg") #503314 no-repeat center top;
    background-size: cover;
    color: $white;
    font-family:'OfficinaSerifC-Bold';
    line-height: 1.25;
    text-transform: uppercase;
    font-weight: bold;
    width: 260px;
    height: 100vh;
    padding: 25px 45px 230px;
    position: fixed;
    z-index: 30;
    transition: all 0.4s;

    @media (max-width: 1400px) {
        width: 220px;
        padding: 30px 25px 230px;
    }

    @media (max-width: 1024px) {
        width: 83px;
        padding: 0;
        padding-top: 15px;
    }

    @media (max-width: 768px) {
        display: none;
    }
    
    .sidebar__close {
        @include center;
        display: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        width: 40px;
        height: 40px;
        transition: all 0.4s;

        &:hover {
            background: rgba(255,255,255,0.35);
        }
    }

    .sidebar__logo {
        display: block;
        text-align: center;
        border: none;
        margin-bottom: 95px;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.4s;

        @media (max-width: 1400px) {
            margin-bottom: 75px;
        }

        @media (max-width: 1024px) {
            margin-bottom: 40px;
        }

        .sidebar__logo-pic {
            margin-bottom: 22px;
            transition: all 0.4s;
            max-width: 100%;
            max-height: 100%;

            img {
                max-width: 100%;
                max-height: 100%;

                @media (max-width: 1024px) {
                    max-width: 90%;
                    max-height: 90%;
                }

                @media (max-width: 768px) {
                    height: 70px;
                }
            }
        }
        .sidebar__logo-text {
            font-size: 15px;
            line-height: 1.3;

            @media (max-width: 1024px) {
                display: none;
            }
        }

        &:hover {
            color: rgba(255,255,255,0.65);
            border: none;

            .sidebar__logo-pic {
                transform: translateY(3px);
        
                @media (max-width: 1024px) {
                    transform: none;
                }
            }
        }
    }

    .sidebar__text {
        line-height: 1.3;
    }

    .sidebar__nav-logo {
        @include center;
        flex-direction: column;
        text-align: center;
        font-size: 12px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;

        @media (max-width: 1024px) {
            display: flex;
        }

        @media (max-width: 768px) {
            display: none;
        }

        img {
            width: 26px;
            height: 22px;
            margin-bottom: 20px;

            @media (max-width: 768px) {
                margin: 0;
            }
        }

        span {
            @media (max-width: 768px) {
                display: none;
            }
        }
    }  

    .sidebar__nav {
        padding: 0 10px 0 15px;

        @media (max-width: 1024px) {
            display: none;
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .sidebar__nav-item {
                margin-bottom: 27px;
                border-bottom: solid 1px transparent;
                transition: all 0.4s;
            }
        }
    }

    .sidebar__footer {
        position: absolute;
        bottom: 60px;
        left: 0;
        width: 100%;
        padding: 0 55px 0 60px;
        line-height: 1.15;

        @media (max-width: 1400px) {
            padding: 0 30px;
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }

    .sidebar__phone {
        font-size: 20px;
        margin-bottom: 7px;
    }

    .sidebar__time {
        font-size: 12px;
        margin-bottom: 20px;
        font-family: "Roboto",sans-serif;
        font-weight: 400;
        text-transform: none;
    }

    .sidebar__callback {
        cursor: pointer;
        width: fit-content;
        border-bottom: solid 1px transparent;
        transition: all 0.4s;

        &:hover {
            color: inherit;
            border-color: rgba(255,255,255,0.85);
        }
    }
}

.sidebar--active {
    overflow: hidden;

    @media (max-width: 1024px) {
        width: 210px;
        padding: 30px 25px 230px;
    }

    @media (max-width: 768px) {
        display: none;
    }

    .sidebar__close {
        display: flex;
        opacity: 0;
    }

    .sidebar__nav-logo {
        display: none;
    }

    .sidebar__nav {
        display: block;
        width: 210px;
        opacity: 0;
    }

    .sidebar__footer {
        display: block;
        width: 210px;
        opacity: 0;

        @media (max-width: 1024px) {
            bottom: 30px;
        }
    }
    
}

.small-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: url("../images/dest/sidebar_bg.jpg") center top no-repeat;
    background-size: cover;
    z-index: 100;
    display: none;

    @media (max-width: 768px) {
        display: block;
    }
    
    .small-menu__header {
        width: 100vw;
        height: 80px;
        padding: 5px;
        position: relative;

        .small-menu__logo {
            width: 100%;
            height: 100%;
            margin: 0 5px;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        button {
            cursor: pointer;
            display: block;
            background-color: transparent;
            outline: none;
            border: none;
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);
    
            .menu-bar {
                background: $white;
                width: 36px;
                height: 3px;
                margin-bottom: 9px;
                transition: all 0.4s;
    
                &:last-child {
                    margin: 0;
                }
            }
        } 
    }


    ul {
        padding: 0;
        padding-top: 10px;
        list-style: none;
        color: $white;
        font-family:'OfficinaSerifC-Bold';
        line-height: 1.25;
        text-transform: uppercase;
        font-weight: bold;
        width: 100%;
        text-align: center;
        max-height: 90vh;
        overflow: auto;

        li {
            margin-bottom: 27px;
            border-bottom: solid 1px transparent;
            transition: all 0.4s;
        }
    }

}

.main__content {
    margin-left: 660px;

    @media (max-width: 1400px) {
        margin-left: 230px;
    }

    @media (max-width: 1024px) {
        margin-left: 83px;
    }

    @media (max-width: 768px) {
        margin: 0;
        padding-top: 80px;
    }

    a {
        color: #1c1c1c;

        &:hover {
            border-color: #1c1c1c;
        }
    }
}

.container {
    padding: 25px 25px 0;
    max-width: 1140px;
    margin: 0;

    @media (max-width: 1400px) {
        padding: 25px 15px 0;
    }

    @media (max-width: 768px) {
        max-width: 540px;
        margin: 0 auto;
    }

    .main__nav {
        font-weight: 300;
        margin-bottom: 40px;
        display: flex;

        @media (max-width: 1400px) {
            margin-bottom: 20px;
        }

        a {
            padding-bottom: 5px;
        }

        .main__nav-item + .main__nav-item {
            &::before {
                content: url("../images/dest/small_arrow.png");
                margin: 0 8px;
            }
        }
    }

    h1 {
        font-family:'OfficinaSerifC-Bold';
        font-weight: bold;
        font-size: 60px;
        line-height: 1;
        margin-bottom: 50px;
        color: #503314;

        @media (max-width: 1400px) {
            margin-bottom: 35px;
        }

        @media (max-width: 768px) {
            font-size: 50px;
        }
    }

}

.main__sidebar {
    width: 400px;
    height: 100vh;
    position: fixed;
    left: 260px;
    top: 0;
    padding: 30px 45px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.25;
    color: #343434;
    

    @media (max-width: 1400px) {
        height: fit-content;
        position: static;
        width: 255px;
        padding: 0;
        margin-left: 20px;
    }

    @media (max-width: 768px) {
        margin-top: 40px;
    }

    .main__sidebar-share {
        margin-bottom: 75px;

        @media (max-width: 990px) {
            margin-bottom: 55px;
        }

        .social-icons {
            margin-top: 8px;

            img {
                margin-right: 6px;
            }
        }
    }

    .main__sidebar-params {
        margin-bottom: 35px;

        .param-item {
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            height: 50px;

            .param-img {
                display: flex;
                justify-content: center;
                margin-right: 25px;
                width: 55px;
            }

            b {
                font-weight: bold;
            }
            
        }
    }

    .main__sidebar-price {
        margin-bottom: 30px;
        
        b {
            display: block;
            font-family:'OfficinaSerifC-Bold';
            color: $green;
            font-size: 30px;
            font-weight: bold;
            margin-top: 15px;
        }
    }

    .main__sidebar-btn {
        background: url("../images/dest/btn_bg.jpg") no-repeat center;
        background-size: cover;
        position: relative;
        padding: 19px 30px;
        min-width: 255px;
        box-shadow: 1px 2px 14px 0 rgba(0,0,0,0.3);
        border: none;
        overflow: hidden;
        z-index: 1;
        transition: all 0.4s;

        .btn-text {
            font-family:'OfficinaSerifC-Bold';
            font-weight: bold;
            font-size: 22px;
            line-height: 1.15;
            position: relative;
            z-index: 2;
            color: $white;
        }

        &:hover {
            box-shadow: 1px 2px 18px 3px rgb(0 0 0 / 40%);

            &::before {
                transform: scale(1.15) perspective(1px);
            }

        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: url("../images/dest/btn_bg.jpg") no-repeat center;
            background-size: cover;
            transition: transform 0.4s,opacity 0.4s;
        }
    }

    .main__sidebar-desk {
        margin-top: 60px;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;

        @media (max-width: 990px) {
            margin-top: 40px;
        }
    }
}

.project__content {
    display: flex;

    @media (max-width: 1400px) {
        flex-direction: column;
    }
}

.project__upper {
    display: flex;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.project__slider {
    margin-right: 50px;

    @media (max-width: 1400px) {
        margin: 0;
    }

    .project__slider-main {
        @include center;
        margin-bottom: 20px;
        position: relative;
        max-width: 780px;
        height: 500px;

        @media (max-width: 1550px) {
            height: 435px;
        }

        @media (max-width: 990px) {
            height: 285px;
        }

        img {
            max-width: 100%;
            max-height: 100%;
        }

        .main-compare {
            @include center;
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $white;
            width: 36px;
            height: 36px;
            transition: background-color 0.4s;

            .compare-2 {
                display: none;
            }

            &:hover {
                background-color: $green;

                .compare-1 {
                    display: none;
                }

                .compare-2 {
                    display: block;
                }
            }
        }
    }
}

.slider-carousel {
    background: $white;
    padding: 0 30px;

    @media (max-width: 1400px) {
        padding: 0;
    }

    .slide {
        display: block;
        cursor: pointer;
        margin-right: 27px;
        padding-bottom: 5px;
        width: 23.75%;
        transition: border 0.4s;
        border-bottom: solid 2px transparent;

        @media (max-width: 1400px) {
            width: 22%;
            margin-right: 25px;
        }

        a {
            display: block;
            width: 100%;
            max-width: 100%;
            border: none;
            pointer-events: none;
    
            &:hover {
                border: none;
            }
        }

        img {
            width: 100%;
            height: auto;
            transition: all 0.4s;
        }

        &:hover {
            img {
                opacity: 85%;
                transform: scale(1.015) perspective(1px);
            }
        }
    }

    .slide--active {
        transition: border 0.4s;
        border-bottom: solid 2px $green;
    }

    .flickity-prev-next-button .flickity-button-icon {
        top: 22%;
        width: 50%;
        height: 50%;
        transition: all 0.4s;
    }

    .flickity-prev-next-button.previous {
        left: 0;

        @media (max-width: 1400px) {
            display: none;
        }

        .flickity-button-icon {
            left: 0;
        }

        &:hover {
            .flickity-button-icon {
               left: 20%;
            }
        }
    }

    .flickity-prev-next-button.next {
        right: 0;

        @media (max-width: 1400px) {
            display: none;
        }

        .flickity-button-icon {
            right: 0;
            left: auto;
        }

        &:hover {
            .flickity-button-icon {
                right: 20%;
             }
        }
    }
}

.flickity-prev-next-button {
    width: 30px;
    height: 100%;
    border-radius: 0;
    background: $white;
    padding: 0;
}

.flickity-prev-next-button .arrow {
    fill: $green;
    transition: all 0.4s;
}

.flickity-prev-next-button:hover {
    background: $white;
}

.flickity-prev-next-button:disabled {
    opacity: 1;

    .arrow {
        fill: #F44336;
    }
}

.project__floors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 1400px) {
        flex-direction: row;
        margin-top: 30px;
    }
}

.floor-card {
    display: flex;
    flex-direction: column;

    @media (max-width: 1400px) {
        width: 50%;
    }

    .floor-text {
        font-size: 18px;
        font-weight: 300;
    }
    
    .floor-image {
        @include center;
        cursor: pointer;
        transition: all 0.4s;

        img {
            @media (max-width: 990px) {
               width: 70%;
            }
        }

        &:hover {
            img {
                opacity: 85%;
                transform: scale(1.015) perspective(1px);
            }
        }
    }

    a {
        border: none;
        pointer-events: none;

        &:hover {
            border: none;
        }
    }

    img {
        margin-top: 15px;
        cursor: pointer;
        transition: all 0.4s;
    }
}

.floor-card + .floor-card {
    margin-top: 35px;

    @media (max-width: 1400px) {
        margin: 0;
    }
}

.big-floors, .big-houses {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: none;
    opacity: 0;
    background: rgba(0,0,0,0.5);
}

.project__floors-slider, .houses-slider {
    max-width: 950px;
    height: 1108px;
    padding: 14px;
    padding-bottom: 13px;
    position: relative;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    background: $white;

    @media (max-width: 1400px) {
        width: 50%;
        height: auto;
    }

    @media (max-width: 1000px) {
        width: 70%;
        height: auto;
    }

    @media (max-width: 768px) {
        width: 90%;
        height: auto;
    }

    .floors-carousel, .houses-carousel {
        padding-bottom: 40px;
    }

    .floor-slide {
        width: 100%;
        max-width: 100%;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .slide-desc {
        color: $green;
        font-size: 16px;
    }

    .close {
        @include center;
        position: absolute;
        top: -1px;
        right: -1px;
        background-color: $green;
        width: 39px;
        height: 39px;
        z-index: 10;
        cursor: pointer;
        transition: all 0.4s;
        border: none;

        &:hover {
            background-color: #009334;
        }
    }

    .slide-num {
        color: $green;
        font-size: 14px;
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
    }

    .flickity-prev-next-button {
        width: 45%;
        height: 15px;
        border-radius: 0;
        background: transparent;
        padding: 0;
        top: auto;
        bottom: 0;
    }

    .flickity-prev-next-button .flickity-button-icon {
        bottom: 0;
        width: 15px;
        height: 15px;
        transition: all 0.4s;
    }

    .flickity-prev-next-button.previous {
        .flickity-button-icon {
            right: 0;
            left: auto;
        }
    }

    .flickity-prev-next-button.next {
        .flickity-button-icon {
            left: 0;
            right: auto;
        }
    }

    .flickity-prev-next-button.previous {
        left: 0;

        &:hover {
            .flickity-button-icon {
               right: 3px;
            }
        }
    }

    .flickity-prev-next-button.next {
        right: 0;

        &:hover {
            .flickity-button-icon {
                left: 3px;
             }
        }
    }
}

.project__versions {
    margin-top: 80px;
}

.project__version {
    padding: 0 4px;

    @media (max-width: 768px) {
        margin-bottom: 40px;
    }

    .version-header {
        display: flex;
        align-items: center;
        font-size: 22px;
        font-family:'OfficinaSerifC-Bold';
        margin-bottom: 30px;

        @media (max-width: 768px) {
            margin-bottom: 25px;
        }

        .version-header-img {
            margin: 0 30px;

            @media (max-width: 768px) {
                display: none;
            }
        }

        img {
            min-width: 46px;
        }
    }

    .version-inner {
        font-weight: 300;
        margin: 0 30px;
        line-height: 2.6;
    }

    .version-img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 35px 0;
        font-size: 30px;
        font-family:'OfficinaSerifC-Bold';
        color: $white;
    }

    .version-img--first {
        background: url("../images/dest/img-version_1.png") center no-repeat;
    }

    .version-img--second {
        background: url("../images/dest/img-version_2.png") center no-repeat;
    }
}

.section-header {
    margin-bottom: 20px;
    font-family:'OfficinaSerifC-Bold';
    font-size: 30px;
}

.delivery {
    @include center;
    margin-top: 90px;
    font-size: 18px;
    font-weight: 300;

    b {
        font-weight: 700;
    }

    .delivery__upper-text {
        width: 48%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    .delivery__images {
        margin: 30px 0 15px;

        img {
            margin-bottom: 25px;
            padding: 0 20px;
        }
    }
}

.description {
    @include center;
    text-align: left;
    margin-top: 80px;
    font-weight: 300;

    .description__video {
        margin-top: 50px;
        position: relative;
        cursor: pointer;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: transparent;
            z-index: 3;
            transition: background-color 0.4s;
        }

        &:hover::after {
            background-color: rgba(90, 60, 30, 0.25);
        }

        .video-hand {
            position: absolute;
            top: 52.6%;
            left: 40.69%;
            background-color: $white;
            border-radius: 50%;
            padding: 12px 16px;
            cursor: pointer;
            z-index: 5;
            transition: all 0.4s;

            @media (max-width: 768px) {
                top: 52%;
                left: 39%;
            }

            @media (max-width: 450px) {
                top: 50%;
                left: 37%;
            }

            @media (max-width: 320px) {
                top: 49%;
                left: 35%;
            }
        }

        &:hover {
            .video-hand {
                transform: scale(1.1) perspective(1px);
            }
        }
    }

    .description__video-play {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        transition: all 0.4s;
        z-index: 10;
    }
}

.houses {
    text-align: center;
    margin-top: 65px;
    font-weight: 300;

    .houses__inner {
        @media (max-width: 768px) {
            flex-direction: column-reverse;
        }
    }

    .houses__cards {
        text-align: left;

        .houses__card {
            @media (max-width: 768px) {
                margin-bottom: 25px;
            }
        }

        a {
            border: none;
            display: block;

            &:hover {
                border: none;
            }
        }

        img {
            max-width: 100%;
        }

        .card-text {
            margin-top: 20px;
        }

        .card-doc {
            display: flex;
            margin-top: 20px;

            img {
                box-shadow: 0 2px 5px 0 rgb(0 0 0 / 31%);
                max-width: 100%;
            }

            .pdf-sign {
                background: $green;
                padding: 5px;
                color: $white;
                height: fit-content;
                font-size: 10px;
                font-weight: 700;
                margin-left: 5px;
            }
        }
    }

    .houses__video {
        background: url("../images/dest/house-video.jpg") center no-repeat;
        color: $white;
        font-weight: 300;
        max-width: 540px;
        height: 360px;
        position: relative;
        text-align: left;
        cursor: pointer;
        z-index: 1;
        
        @media (max-width: 768px) {
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 25px;
        }

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: transparent;
            z-index: 3;
            transition: background-color 0.4s;
        }

        &:hover::after {
            background-color: rgba(90, 60, 30, 0.25);
        }

        img {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
            transition: all 0.4s;
        }

        &:hover {
            img {
                transform: translate(-50%, -50%) scale(1.05) perspective(1px);
            }
        }

        .video-text {
            position: absolute;
            padding: 0 25px;
            bottom: 20px;
            z-index: 5;
        }
    }

    .houses__video-play {
        width: 100%;
        height: 360px;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        transition: all 0.4s;
        z-index: 10;
    }

    .houses__gallery {
        margin-top: 60px;

        .gallery-col {
            padding: 0 7px;
            margin-bottom: 14px;
            cursor: pointer;

            a {
                border: none;
                pointer-events: none;
        
                &:hover {
                    border: none;
                }
            }

            img {
                width: 100%;
                max-height: 200px;
                cursor: pointer;
            }
        }
    }
}

.houses-slider {
    width: 950px;
    height: 680px;

    @media (max-width: 1400px) {
        width: 800px;
        height: 584px;
    }

    @media (max-width: 1000px) {
        width: 90%;
        height: auto;
    }

    .houses-carousel {
        width: 100%;
    }
}

.houses-slide {
    width: 100%;
    img {
        width: 100%;
        height: auto;
        max-height: 612px;
    }
}

.footer {
    font-weight: 300;
    margin-top: 100px;
    padding: 0 20px 20px;
    font-size: 15px;
    max-width: 1235px;

    @media (max-width: 1000px) {
        margin-top: 70px;
    }

    h6 {
        font-weight: 700;
    }

    .footer__links, .footer__contacts {
        display: flex;
        flex-wrap: wrap;
    }

    .footer__links {
        @media (max-width: 1000px) {
            margin-bottom: 25px;
        }
    }

    .footer__production, .footer__project {
        width: 50%;

        @media (max-width: 576px) {
            width: 100%;
            margin-bottom: 30px;
        }

        h6 {
            margin-bottom: 14px;
        }

        .production-item {
            display: block;
            margin-bottom: 14px;
        }
        
    }

    .footer__production {
        @media (max-width: 1000px) {
            padding-left: 25px;
        }
    }

    .footer__project {
        padding-left: 20px;
    }

    .footer__addresses, .footer__socials {
        width: 50%;
        display: flex;
        padding: 0 20px;

        @media (max-width: 576px) {
            width: 100%;
            margin-bottom: 30px;
        }

        a {
            color: $green;

            &:hover {
                border-color: $green;
            }
        }

        .footer__icon {
            width: 26px;
            margin-right: 12px;

            img {
                max-width: 100%;
            }
        }

        .footer__phone {
            border: none;

            &:hover {
                border: none;
                color: $green;
            }
        }

        .footer__lower-content {
            margin-top: 30px;

            @media (max-width: 576px) {
                margin-top: 20px;
            }

            .footer__icons {

                a {
                    border: none;

                    &:hover {
                        border: none; 
                    }
                }

                .footer__icon-item {
                    color: $green;
                    font-size: 24px;
                    font-weight: 400;
                    margin-right: 28px;
                    transition: all 0.4s;
                    padding-top: 30px;

                    &:hover {
                        color: #1c1c1c;
                    }
                }
            }
        }
    }

    .footer__socials {
        .footer__lower-content {
            @media (max-width: 576px) {
                margin: 0;
            }
        }
    }
}

.footer__bottom {
    color: #494949;
    font-size: 12px;
    margin-top: 40px;

    .footer__copyright {
        @media (max-width: 576px) {
            text-align: center;
        }
    }

    .footer__synapse {
        text-align: right;
        font-style: italic;
        margin: auto 0;

        @media (max-width: 576px) {
            text-align: center;
            margin-top: 10px;
        }

        img {
            position: relative;
            top: -7px;
        }

        a {
            border-bottom: 1px solid #494949;

            &:hover {
                border-color: transparent;
            }
        }
    }
}