@import "node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic-ext,latin-ext&display=swap");
@font-face {
    font-family: "font6cbd9deae466f760aa37d02e19309b71";
        
        src:    url("https://nomail.com.ua/files/eot/6cbd9deae466f760aa37d02e19309b71.eot?#iefix") format("embedded-opentype"),
                url("https://nomail.com.ua/files/woff/6cbd9deae466f760aa37d02e19309b71.woff") format("woff"),
                url("https://nomail.com.ua/files/woff2/6cbd9deae466f760aa37d02e19309b71.woff2") format("woff2");
    }
    
@font-face { font-family: "OfficinaSerifC-Bold";  src: local("OfficinaSerifC-Bold"), url("https://nomail.com.ua/files/woff/6cbd9deae466f760aa37d02e19309b71.woff") format("woff"); }

@import "fontawesome.scss";
@import "solid.scss";
@import "brands.scss";

$green: #006022;

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
    padding: 0;
    margin: 0;
    width: fit-content;
    border-bottom: solid 1px transparent;
    transition: all 0.4s;

    &:hover {
        color: inherit;
        border-color: rgba(255,255,255,0.85);
    }
}

.sidebar {
    background: url("../images/dest/sidebar_bg.jpg") #503314 no-repeat center top;
    background-size: cover;
    color: #FFF;
    font-family:'OfficinaSerifC-Bold';
    line-height: 1.25;
    text-transform: uppercase;
    font-weight: bold;
    width: 260px;
    height: 100vh;
    padding: 25px 45px 230px;
    position: fixed;

    .sidebar__logo {
        display: block;
        text-align: center;
        border: none;
        margin-bottom: 95px;
        transition: all 0.4s;

        .sidebar__logo-pic {
            margin-bottom: 22px;
            transition: all 0.4s;
        }
        .sidebar__logo-text {
            font-size: 15px;
            line-height: 1.3;
        }

        &:hover {
            color: rgba(255,255,255,0.65);
            border: none;

            .sidebar__logo-pic {
                transform: translateY(3px);
            }
        }
    }

    .sidebar__text {
        line-height: 1.3;
    }

    .sidebar__nav {
        padding: 0 10px 0 15px;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            .sidebar__nav-item {
                margin-bottom: 27px;
                border-bottom: solid 1px transparent;
                transition: all 0.4s;
            }
        }
    }

    .sidebar__footer {
        position: absolute;
        bottom: 60px;
        left: 0;
        width: 100%;
        padding: 0 55px 0 60px;
        line-height: 1.15;
    }

    .sidebar__phone {
        font-size: 20px;
        margin-bottom: 7px;
    }

    .sidebar__time {
        font-size: 12px;
        margin-bottom: 20px;
        font-family: "Roboto",sans-serif;
        font-weight: 400;
        text-transform: none;
    }

    .sidebar__callback {
        cursor: pointer;
        width: fit-content;
        border-bottom: solid 1px transparent;
        transition: all 0.4s;

        &:hover {
            color: inherit;
            border-color: rgba(255,255,255,0.85);
        }
    }
}

.main__sidebar {
    width: 400px;
    height: 100vh;
    position: fixed;
    left: 260px;
    padding: 30px 45px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.25;
    color: #343434;

    .main__sidebar-share {
        margin-bottom: 75px;

        .social-icons {
            margin-top: 8px;

            img {
                margin-right: 6px;
            }
        }
    }

    .main__sidebar-params {
        margin-bottom: 35px;

        .param-item {
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            height: 50px;

            .param-img {
                display: flex;
                justify-content: center;
                margin-right: 25px;
                width: 55px;
            }

            b {
                font-weight: bold;
            }
            
        }
    }

    .main__sidebar-price {
        margin-bottom: 30px;
        
        b {
            display: block;
            font-family:'OfficinaSerifC-Bold';
            color: $green;
            font-size: 30px;
            font-weight: bold;
            margin-top: 15px;
        }
    }

    .main__sidebar-btn {
        background: url("../images/dest/btn_bg.jpg") no-repeat center;
        background-size: cover;
        position: relative;
        padding: 19px 30px;
        min-width: 255px;
        box-shadow: 1px 2px 14px 0 rgba(0,0,0,0.3);
        border: none;
        overflow: hidden;
        z-index: 1;
        transition: all 0.4s;

        .btn-text {
            font-family:'OfficinaSerifC-Bold';
            font-weight: bold;
            font-size: 22px;
            line-height: 1.15;
            position: relative;
            z-index: 2;
            color: white;
        }

        &:hover {
            box-shadow: 1px 2px 18px 3px rgb(0 0 0 / 40%);

            &::before {
                transform: scale(1.15) perspective(1px);
            }

        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: url("../images/dest/btn_bg.jpg") no-repeat center;
            background-size: cover;
            transition: transform 0.4s,opacity 0.4s;
        }
    }

    .main__sidebar-desk {
        margin-top: 60px;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.5;
    }
}

.main__content {
    margin-left: 660px;

    a {
        color: #1c1c1c;

        &:hover {
            border-color: #1c1c1c;
        }
    }
}

.container {
    padding: 25px 25px 0;
    max-width: 1140px;
    margin: 0;

    .main__nav {
        font-weight: 16px;
        margin-bottom: 40px;
        display: flex;

        a {
            padding-bottom: 5px;
        }

        .main__nav-item + .main__nav-item {
            &::before {
                content: url("../images/dest/small_arrow.png");
                margin: 0 8px;
            }
        }
    }

    h1 {
        font-family:'OfficinaSerifC-Bold';
        font-weight: bold;
        font-size: 60px;
        line-height: 1;
        margin-bottom: 50px;
        color: #503314;
    }

}

.project__content {
    display: flex;
}

.project__slider {
    margin-right: 50px;

    .project__slider-main {
        margin-bottom: 20px;
        position: relative;

        .main-compare {
            @include center;
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #FFF;
            width: 36px;
            height: 36px;
            transition: background-color 0.4s;

            .compare-2 {
                display: none;
            }

            &:hover {
                background-color: $green;

                .compare-1 {
                    display: none;
                }

                .compare-2 {
                    display: block;
                }
            }
        }
    }
}

.carousel {

    background: #EEE;

    .carousel {
        background: #EEE;
    }

    .slide {
        display: block;
        cursor: pointer;
        margin-right: 27px;
        border-bottom: solid 1px transparent;

        img {
            height: 112px;
            transition: all 0.4s;

            &:hover {
                opacity: 85%;
                transform: scale(1.015) perspective(1px);
            }
        }
    }

    .slide--active {
        padding-bottom: 5px;
        border-bottom: solid 1px $green;
    }
}


.project__floors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.floor-card {
    display: flex;
    flex-direction: column;

    .floor-text {
        font-size: 18px;
        font-weight: 300;
    }
    
    .floor-image {
        @include center;
    }

    a {
        border: none;

        &:hover {
            border: none;
        }
    }

    img {
        margin-top: 15px;
        cursor: pointer;
        transition: all 0.4s;

        &:hover {
            opacity: 85%;
            transform: scale(1.015) perspective(1px);
        }
    }
}

.floor-card + .floor-card {
    margin-top: 35px;
}

.project__versions {
    margin-top: 80px;
}

.project__version {
    padding: 0 4px;

    .version-header {
        display: flex;
        align-items: center;
        font-size: 22px;
        font-family:'OfficinaSerifC-Bold';
        margin-bottom: 40px;

        img {
            margin: 0 30px;
        }
    }

    .version-inner {
        font-weight: 300;
        margin: 0 30px;
        line-height: 2.6;
    }

    .version-img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 35px 0;
        font-size: 30px;
        font-family:'OfficinaSerifC-Bold';
        color: #FFF;
    }

    .version-img--first {
        background: url("../images/dest/img-version_1.png") center no-repeat;
    }

    .version-img--second {
        background: url("../images/dest/img-version_2.png") center no-repeat;
    }
}

.section-header {
    margin-bottom: 20px;
    font-family:'OfficinaSerifC-Bold';
    font-size: 30px;
}

.delivery {
    @include center;
    margin-top: 90px;
    font-size: 18px;
    font-weight: 300;

    b {
        font-weight: 700;
    }

    .delivery__upper-text {
        width: 48%;
    }

    .delivery__images {
        margin: 30px 0 40px;

        img + img {
            margin-left: 40px;
        }
    }
}

.description {
    @include center;
    text-align: left;
    margin-top: 80px;
    font-weight: 300;

    .description__video {
        margin-top: 50px;
        position: relative;
        cursor: pointer;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: transparent;
            z-index: 3;
            transition: background-color 0.4s;
        }

        &:hover::after {
            background-color: rgba(90, 60, 30, 0.25);
        }

        .video-hand {
            position: absolute;
            top: 52.6%;
            left: 40.69%;
            background-color: #FFF;
            border-radius: 50%;
            padding: 12px 16px;
            cursor: pointer;
            z-index: 5;
            transition: all 0.4s;
        }

        &:hover {
            .video-hand {
                transform: scale(1.1) perspective(1px);
            }
        }
    }

    .description__video-play {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }
}

.houses {
    text-align: center;
    margin-top: 65px;
    font-weight: 300;

    .houses__cards {
        text-align: left;
        
        img {
            max-width: 100%;
        }

        .card-text {
            margin-top: 20px;
        }

        .card-doc {
            display: flex;
            margin-top: 20px;

            img {
                box-shadow: 0 2px 5px 0 rgb(0 0 0 / 31%);
                max-width: 100%;
            }

            .pdf-sign {
                background: $green;
                padding: 5px;
                color: #FFF;
                height: fit-content;
                font-size: 10px;
                font-weight: 700;
                margin-left: 5px;
            }
        }
    }

    .houses__video {
        background: url("../images/dest/house-video.jpg") center no-repeat;
        color: #FFF;
        font-weight: 300;
        max-width: 540px;
        height: 360px;
        position: relative;
        text-align: left;
        cursor: pointer;
        z-index: 1;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: transparent;
            z-index: 3;
            transition: background-color 0.4s;
        }

        &:hover::after {
            background-color: rgba(90, 60, 30, 0.25);
        }

        img {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
            transition: all 0.4s;
        }

        &:hover {
            img {
                transform: translate(-50%, -50%) scale(1.05) perspective(1px);
            }
        }

        .video-text {
            position: absolute;
            padding: 0 25px;
            bottom: 20px;
            z-index: 5;
        }
    }

    .houses__video-play {
        width: 100%;
        height: 360px;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
    }

    .houses__gallery {
        margin-top: 60px;

        .gallery-col {
            padding: 0 7px;
            margin-bottom: 14px;

            a {
                border: none;
        
                &:hover {
                    border: none;
                }
            }

            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
                cursor: pointer;
            }
        }
        
    }
}


.footer {
    font-weight: 300;
    margin-top: 100px;
    padding: 0 20px 20px;
    font-size: 15px;

    h6 {
        font-weight: 700;
    }

    .footer__links, .footer__contacts {
        display: flex;
        flex-wrap: wrap;
    }

    .footer__production, .footer__project {
        width: 50%;

        h6 {
            margin-bottom: 14px;
        }

        a {
            display: block;
            margin-bottom: 14px;
        }
    }

    .footer__project {
        padding-left: 20px;
    }

    .footer__addresses, .footer__socials {
        width: 50%;
        display: flex;
        padding: 0 20px;

        a {
            color: $green;

            &:hover {
                border-color: $green;
            }
        }

        .footer__icon {
            width: 26px;
            margin-right: 12px;

            img {
                max-width: 100%;
            }
        }

        .footer__phone {
            border: none;

            &:hover {
                border: none;
                color: $green;
            }
        }

        .footer__lower-content {
            margin-top: 30px;

            .footer__icons {

                a {
                    border: none;

                    &:hover {
                        border: none; 
                    }
                }

                .footer__icon-item {
                    color: $green;
                    font-size: 24px;
                    font-weight: 400;
                    margin-right: 28px;
                    transition: all 0.4s;
                    padding-top: 30px;

                    &:hover {
                        color: #1c1c1c;
                    }
                }
            }
        }
    }
}

.footer__bottom {
    color: #494949;
    font-size: 12px;
    margin-top: 40px;

    .footer__synapse {
        text-align: right;
        font-style: italic;
        margin: auto 0;

        img {
            position: relative;
            top: -7px;
        }

        a {
            border-bottom: 1px solid #494949;

            &:hover {
                border-color: transparent;
            }
        }
    }
}